{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="vinayak sharma">

  <title>{{title}}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
  {% if messages %}
  {% for message in messages %}

  <script>
    alert("{{ message }}");
  </script>

  {% endfor %}
  {% endif %}

</head>

<body class="container-fluid">


  <header class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" class="styleheader" href="{% url 'tournament:index' %}">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavBar">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'tournament:logout' %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Logout</a></li>
            {% else %}
            <li><a href="{% url 'tournament:register' %}"><span class="glyphicon glyphicon-user"></span> &nbsp; Sign up</a></li>
            <li><a href="{% url 'tournament:login' %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br/>
  <br>
  <br>
  <div class="row">
    {% block start %}

    {% if user.is_authenticated %}
    <center>
      <h1>Hello!</h1>
    </center>

    <div class="container sm-margin-top">
      <div class="row text-center lg-margin-bottom">
        <form action="{% url 'tournament:opt_in_tournaments'%}" method="post">
          <p>You are registered in the following tournaments:
            {% for tournament in in_tournaments %}
              <a href= "{% url 'tournament:tournament_page' tournament.id %}">{{ tournament.name }} </a>
            {% endfor %}
          </p>        
          {% if not out_tournaments %}
            <p>There are no more tournaments you can join.</p>
            {%else%}
      </div>
      
    <div class="row text-center lg-margin-bottom">
        {% csrf_token %}
        <p>You can register in the following tournaments:</p>
        {% for tournament in out_tournaments %}
          <input type="checkbox" name="tournament" id="tournament{{forloop.counter}}"
            value="{{ tournament.slug }}">
          <label for="tournament{{ forloop.counter }}">
            {{ tournament.name }}
          </label><br>
        {% endfor %}
        <input type="submit" value="Opt In">
      </form>
      {% endif %}
    </div>
    {% else %}
    <center>
      <h1>Please login!</h1>
    </center>

    {% endif %}
  </div>
  {% endblock %}
  </div>
</body>

</html>